.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #323538;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0.2px solid #cccccc;
    min-height: 70px;
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 7px 18px, rgba(0, 0, 0, 0.22) 0px 8px 12px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.15);
}

.listagem .pokemon img {
    width: 30%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background-color: #727780;
}
